<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GardenLibrary.Properties.Settings.KindergardenConnectionString"
            connectionString="Data Source=LAPTOP-GBM29CQT\SQLEXPRESS01;Initial Catalog=Kindergarden;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>